

#slider {
    width: 50%;
    max-width: 500px;
    height: 25vw;
    max-height: 500px;
    display:flex;
    



}

#slider img{
    opacity: 0;

    position: absolute;

    height:220px;
    width:300px;


    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}